
<div id="BG">
  <!-- 3 Panda Paling Atas -->
  <div>
    <img id="pandaCoder_1" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(10)"/>
    <img id="pandaCoder_2" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(01)"/>
    <img id="pandaCoder_3" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(02)"/>
  </div>
  
  <div>
    
    <!-- Tengah Atas -->
    <div>
      <img id="pandaCoder_4" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(09)"/>       
      <img id="pandaCoder_5" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(03)"/>    
    </div>
    
    <!-- Negative Panda Center -->
    <img id="imageCoder" src="assets/pict/logoNegative.png"/>          

    <!-- Tengah Bawah -->
    <div>
      <img id="pandaCoder_6" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(08)"/>        
      <img id="pandaCoder_7" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(04)"/> 
    </div>

  </div>  
  
  <!-- 3 Panda Paling Bawah -->
  <div>
      <img id="pandaCoder_8" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(07)"/>
      <img id="pandaCoder_9" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(06)"/>
      <img id="pandaCoder_10" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(05)"/>
    </div>

</div>

<span></span>