
<div id="BG">
  <!-- 3 Panda Paling Atas -->
  <div>
    <img id="pandaCoder_1" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()" (click)="onSelect(pandaCoder)"/>
    <img id="pandaCoder_2" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>
    <img id="pandaCoder_3" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>
  </div>
  
  <div>
    
    <!-- Tengah Atas -->
    <div>
      <img id="pandaCoder_4" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>       
      <img id="pandaCoder_5" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>    
    </div>
    
    <!-- Negative Panda Center -->
    <img id="imageCoder" src="assets/pict/logoNegative.png"/>          

    <!-- Tengah Bawah -->
    <div>
      <img id="pandaCoder_6" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>        
      <img id="pandaCoder_7" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/> 
    </div>

  </div>  
  
  <!-- 3 Panda Paling Bawah -->
  <div>
      <img id="pandaCoder_8" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>
      <img id="pandaCoder_9" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>
      <img id="pandaCoder_10" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder()"/>
    </div>

</div>

<span></span>