
<div id="BG">
  <!-- 3 Panda Paling Atas -->
  <div>
    <img id="pandaCoder_1" class="overlay" src="assets/pict/pandaCoder.png" (click)="openDialog(1)"/>
    <img id="pandaCoder_2" class="overlay" src="assets/pict/pandaCoder.png" (click)="openDialog(2)"/>
    <img id="pandaCoder_3" class="overlay" src="assets/pict/pandaCoder.png" (click)="openDialog(3)"/>
  </div>
  
  <div>
    
    <!-- Tengah Atas -->
    <div>
      <img id="pandaCoder_4" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(4)"/>       
      <img id="pandaCoder_5" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(5)"/>    
    </div>
    
    <!-- Negative Panda Center -->
    <img id="imageCoder" src="assets/pict/logoNegative.png"/>          

    <!-- Tengah Bawah -->
    <div>
      <img id="pandaCoder_6" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(6)"/>        
      <img id="pandaCoder_7" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(7)"/> 
    </div>

  </div>  
  
  <!-- 3 Panda Paling Bawah -->
  <div>
      <img id="pandaCoder_8" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(8)"/>
      <img id="pandaCoder_9" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(9)"/>
      <img id="pandaCoder_10" class="overlay" src="assets/pict/pandaCoder.png" (click)="openCoder(10)"/>
    </div>

</div>

<span></span>