<!--The content below is only a placeholder and can be replaced.-->
<div class="fixed-header">
  <mat-toolbar>

    <mat-toolbar-row>

      <div class="slogan">
        <span class="sloganName pandaBlack">code<b>panda</b></span>
        <br>
        <span class="sloganSlogan pandaBlack">we are here</span>
      </div>
      <div class="whiteFill">

      </div>

      <div class="logo">
        <img routerLink="" class="logoImg" src="assets/pict/logo.png" alt="codepanda">
      </div>

      <div class="order">    
          <span class="orderSlogan pandaBlack">punya konsep?</span>
          <button mat-button (click)="openDialog()" class="orderButton pandaBlack">wujudkan</button>
      </div>

    </mat-toolbar-row>
  
  <!-- <mat-toolbar-row>
    
    <span>codepanda</span>

    <span class="example-spacer"></span>
    
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="profile">Company Profile</button>
    <button mat-button routerLink="about">About</button>


    <button mat-button (click)="openDialog()">wujudkan</button>


  </mat-toolbar-row> -->
  </mat-toolbar>
</div>



<router-outlet></router-outlet>
