.container_1 {
    background-color: black;
}

.container_2 {
    display: grid;
    grid-template-columns: 50% auto;
    background-color: black;
}

.BG {
    font-weight: bolder;
    font-size: 3vw;

    margin-top: 1vh;

    color: white;
    text-align: center;
    background-color: black;
}

#subtitle{
    font-weight: bold;
    color: white;
}

#text{
    color: white;
}

#pandaCoder{
    display: block;
    margin: auto;
    margin-top: 5vh;

    position: relative;
    right: 1.75vw;

    height: 25vw;
    width: 25vw;

    border-radius: 50%;
}

