/* You can add global styles to this file, and also import other style files */

/* tema dari angular */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* Default CSS From Couserat.com */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,450,500,600,700,800,900');

body {
    font-family: 'Montserrat', 'Arial';

}

/* body {
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Montserrat', 'Arial';
    color: #fff;
}
ul {
    list-style-type:none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color: #fff;
    text-decoration: none;
} */