.background{
    z-index: 1;
    /* position: relative;
    top:50vh; */
    background-color: #332c2b;

    margin-top: 14vh;
    
    left: 0;
    
    width: 100%  !important;
  }

  .boxTitle{
    position: relative;
    top: 20px;
    left: 20px;
    width: 15vw;

    text-align: center;

    padding: 1vw;
    border: 5px solid white;
    color: white;
    font-size: 5vw;
    font-weight: 500;
  }